---
import Layout from "../../../layouts/Layout.astro";

const {autor, libro} = Astro.params;
---

<Layout title="Autores">
    <p>El autor <b>{autor}</b> del libro <b>{libro}</b> es muy bueno</p>
</Layout>