---
const Tarjeta = "div";
const Container = "div";
export interface Props{
    nombre: string;
    ocupacion?: string; // el signo ? indica que la propiedad no es mandatoria
    avatar: boolean;
}
const {nombre, ocupacion="Ocupación sin definir", avatar} = Astro.props; // ocupacion tiene un valor por defecto
---

<Tarjeta class="card">
    <img src={avatar ? "images/avatar1.png" : "images/avatar2.png"} alt="imagen" style = "width:50%" />
    <Container class="container">
        <h4>{nombre}</h4>
        <p>{ocupacion}</p>
    </Container>
</Tarjeta>

<style>
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-left: 50px;
        width: 15%;
        margin-bottom: 15px;
        padding: 20px;
    }
    .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    }
    .container{
        padding: 2px, 16px;
    }
</style>